.test{
    border: 0.5px solid black;
  }
  body {
    background-color: aquamarine;
    font-family: sans-serif;
  }
  ul, li {
    padding: 0; 
    list-style: none;
  }
  ul {
    display: flex;
    margin: 10px;
    margin-top: 0;
    background-color: aquamarine;
    justify-content: space-between;
    height: 100px;
  }
  li {
    display: block;
    width: 18%;
    height: 70px;
    background-color: orangered;
    line-height: 70px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    
  }
  .flexend1 {
    align-items: flex-end;
  }

  .flexend2 {
    align-items: flex-end;
    flex-direction: row-reverse;
  }
