*{
    margin-left:10px;
    margin-right:10px;
}

h1{
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border:solid blue 2px;
}

h2{
    padding:0em 0.75em 0em;
    border:solid gray 2px;
}

ul{
    border:solid lawngreen 2px;
}

li:nth-of-type(n){
    margin-bottom: 1em;
}	

li:last-child{
    margin-bottom: unset;
}